/***** BASE STYLES *****/

body{
    background-color: #000000;
	font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 300;
	color: #2b2b2b;
}

/***** GRID *****/

.full-width{
    width: 1200px;
    margin: 0 auto;
}

.half-width{
	width: 600px;
	float: left;
}

.third-width{
	width: 400px;
	float: left;
}

/***** HEADER *****/

header{
    background-image: url("../img/LDD_icon-gold.jpg");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    height: auto;
}

header p{
    display: flex;
    justify-content: center;
}

header a{
    text-decoration: none;
    color: #9F7D23;
} 

.nav-links{
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: #9F7D23;
    list-style-type: none;
}

/***** GARDENING *****/

#gardening{
    background-color: #FFFFFF;
    display: flex;
    height: auto;
    margin: 0 auto;
    clear: both;
}

#gardening h3{
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    color: #9F7D23;
    display: flex;
    justify-content: center;
}

#gardening p{
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    justify-content: center;
}

#gardening a{
    text-decoration: none;
}

/***** FOOTER *****/

footer{
    margin: 0 auto;
    background-color: #000000;
    display: flex;
    height: fit-content;
    justify-content: center;
    clear: both;
}

footer p{
    color: #9F7D23;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
}